
/* ESTILOS SOLO DEL MENU Y EL HEADER */

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.75;
  color: #20297c;
  overflow-x: hidden;
}

img{
  max-width: 550px;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
.menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #010101;
  float: left;
  transform-origin: center center;
  transition: transform 250ms ease;
  z-index: 200;
}
.menu span:nth-of-type(1) {
  transform: translateY(-5px);
}
.menu span:nth-of-type(3) {
  transform: translateY(5px);
}

#menu {
  display: none;
}
#menu:checked ~ .menu {
  background-color: transparent;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span {
  background-color: white;
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span:nth-of-type(1) {
  transform: translateY(1px) rotate(45deg);
}
#menu:checked ~ .menu span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .menu span:nth-of-type(3) {
  transform: translateY(-1px) rotate(-45deg);
}
#menu:checked ~ .nav {
  left: 0px;
  transition: left 500ms ease;
}
#menu:checked ~ main {
  transform: translateX(250px);
  transition: transform 500ms ease;
}

.nav {
  position: fixed;
  top: 0;
  left: -210px;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  transition: left 500ms ease;
  z-index: 0;
}
.nav ul {
  position: relative;
  list-style-type: none;
  margin: 100px 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  display: block;
  border-bottom: 5px solid white;
}
.nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav ul li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1;
}
.nav ul li a:hover {
  color: #a81818;
}
.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: width 250ms ease;
}

.container {
  width: 75%;
  margin: 0 auto;
  justify-content: center;
}

.container1 {
  width: 75%;
  margin-left: 45%;
}

main {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateX(0px);
  transition: transform 500ms ease;
  z-index: 0;
}
main header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
}
main header h1 {
  color: #ccc;
  z-index: 3;
}
main section {
  position: relative;
  display: block;
  margin: 0;
  padding: 50px 0;
  background-color: white;
  z-index: 100;
}
main section p {
  margin-bottom: 30px;
}
main .img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: #129abd;
}
main .img h1 {
  color: rgba(255, 255, 255, 0.2);
}

/* ESTOS SON TUS ESTILOS DE PIE DE PAGINA */

main footer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 20px 20px;
  background-color: #444;
}
main footer::after {
  clear: both;
  content: "";
  display: block;
}
main footer .logo {
  font-size: 28px;
  color: whitesmoke;
  line-height: 0;
  margin-bottom: 8px;
  margin-right: 4px;
}
@media screen and (min-width: 1024px) {
  main footer .logo {
    float: left;
    margin-bottom: 0;
  }
}
main footer ul {
  line-height: 1.5;
  margin: 0 0 16px 0;
  padding: 0;
}
main footer ul::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (min-width: 1024px) {
  main footer ul {
    float: left;
    line-height: 1.8;
    margin-bottom: 0;
    margin-left: 16px;
  }
  main footer ul::after {
    clear: both;
    content: "";
    display: block;
  }
}
main footer ul li {
  list-style: none;
  padding-right: 16px;
}
@media screen and (min-width: 1024px) {
  main footer ul li {
    display: inline;
    text-align: left;
  }
}
main footer ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
main footer ul li a:focus, main footer ul li a:hover {
  color: white;
}
.nombre{
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin-block-end: 1.5rem;
}


/* ESTILOS DEL SLIDER CON IMAGENES */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: #ffffff url("https://codepen.io/images/classy_fabric.png"); }

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;

  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: absolute;
text-align: center;
}

.nav-dots .nav-dot {
top: -5px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
background: rgba(0, 0, 0, 0.8);
}
/*Estilos del maldito Slider*/
.makaco{
  justify-content: center;
  text-align: center;
  margin: 1rem;
}